@use "@/styles/mixins" as *;

.btn {
  position: relative;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  font-family: var(--font-heading);
  line-height: 1;
  border-radius: var(--btn-radius);
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  height: var(--btn-height);
  padding-inline: var(--btn-padding-x);
  justify-content: center;
  text-align: center;

  span {
    transition: var(--btn-transition);
    margin-right: 1.25em;
    position: relative;
    z-index: 5;
    left: 0;
    top: -0.075em;
  }

  svg {
    transition: var(--btn-transition);
    position: absolute;
    right: -1.75em;
    width: 4em;
    animation-play-state: paused;
    stroke-width: 9;
    overflow: visible;
    top: 35%;
  }

  &:hover {
    svg {
      animation: rotate 2s linear infinite;
      animation-play-state: running;
      width: 100%;
      stroke-width: 80 !important;
      right: 0;
    }

    span {
      left: 0.625em;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-2);
  width: 100%;
  gap: var(--size-1);

  @include max($responsive) {
    & > * {
      flex: 1 1 0;
    }
  }
}
