@use "@/styles/mixins" as *;

.emptyIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.25rem;
  height: 4.25rem;
  @include cornerShape(1.25rem);
  @include glass(false, oklch(1 0 0 / 0.75));
  @include border-glass(var(--gradient-border-glass-3));
  color: var(--text);
}

.emptyLogo {
  width: 24px;
  height: 24px;
}
