@use "@/styles/mixins" as *;

.toast {
  --padding: calc(24px + 4 * (100vw - 320px) / 1080);
  background: var(--bg-opacity-1);
  color: var(--tertiary);
  padding: var(--padding);
  padding-right: calc(var(--padding) * 2);
  @include cornerShape(var(--radius-2));
  @include glass($blur: true);
  position: relative;
  display: flex;
  font-family: var(--font-main);
  font-weight: 300;
  gap: calc(var(--padding) / 1.5);
  gap: 6px;
  font-size: calc(14px + 2 * (100vw - 320px) / 1080);
  z-index: 110000;
  box-shadow: var(--shadow-1);

  & > * {
    z-index: 1;
  }

  &[data-type="success"] {
    --color: var(--success);
  }

  &[data-type="error"] {
    --color: var(--danger);
  }

  &[data-type="warning"] {
    --color: var(--warning);
  }

  &[data-type="info"],
  &[data-type="loading"] {
    --color: var(--text-secondary);
  }

  [data-icon] {
    svg {
      position: relative;
      font-size: 1.1em;
      left: -0.15em;
      color: var(--color);
      min-width: 1em;

      * {
        stroke-width: 1.5 !important;
      }
    }
  }

  :global(.sonner-loader) {
    position: relative;

    &[data-visible="false"] {
      display: none !important;
    }
  }

  .title {
    font-family: var(--font-heading);
  }

  .description {
    color: var(--text-secondary);
    margin-top: 0.25em;
  }

  .close {
    position: absolute;
    right: calc(var(--padding) / 1.5);
    top: calc(var(--padding) / 1.5);
    cursor: pointer;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}
