@use "@/styles/mixins" as *;

$responsive: $responsive;

.hero {
  padding: calc(40px + 32 * (100vw - 320px) / 1080) 0 0;
  overflow: hidden;

  @include min($responsive) {
    text-align: center;

    .btn {
      font-size: 1.25em;
    }
  }

  .paragraph {
    width: calc(400px + 80 * (100vw - 320px) / 1080);
    margin: 0 auto var(--size-10);
    padding-top: var(--size-6);

    @include max($responsive) {
      width: 80%;
      padding-top: var(--size-2);
      margin: 0 0 var(--size-10);
    }
  }
}

.title {
  @include fs(48px, 36, 128px);
  margin: var(--size-10) 0 var(--size-7);
  visibility: hidden;

  @include max($responsive) {
    margin-top: var(--size-4);
    transform: none !important;
    @include fs(60px, 36, 128px);
  }

  h1 {
    line-height: 1.05;
    padding-top: 0.2em;
    font-size: 1em;

    @include min($responsive) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    @include max($responsive) {
      text-align: left;
    }

    & > span {
      & > *:not(.line) {
        @include min($responsive) {
          padding-inline: 0.1em;
          margin-inline: -0.1em;
        }

        @include max($responsive) {
          display: block !important;
        }
      }
    }

    span {
      display: block;
      position: relative;
    }
  }
}

.line {
  pointer-events: none;
  position: absolute;
  stroke-width: 0.14em;
  max-width: none;
  overflow: visible;
  width: 100%;

  @include max($responsive) {
    display: none;
  }

  * {
    vector-effect: non-scaling-stroke;
    stroke-dasharray: 2;
    stroke-dashoffset: var(--dash-offset, 2);
  }

  &1 {
    top: 0;
    right: 88.3%;
    transform: translateY(-17%);

    @include max($responsive) {
      display: block;
      transform: scaleX(-1);
      left: 3.86em;
      top: 0.4em;
      right: 0;
    }
  }

  &2 {
    top: 0;
    left: 97.2%;
    transform: translateY(-45%);
  }

  &3 {
    top: 0;
    right: 96.9%;
    transform: translateY(-45%);
  }

  &4 {
    top: 0;
    left: 88.175%;
    transform: translateY(1%);
  }
}

.cards {
  @include user-select;
  pointer-events: none;
  position: absolute;
  inset: -100px -80px;

  @include max(1084px) {
    display: none;
  }

  .c1 {
    --animation-duration: 2.5s;
    top: 6vh;
    left: -3vw;

    @include max(1500px) {
      top: 13vh;
      left: 2vw;
    }
  }

  .c2 {
    --animation-duration: 3s;
    bottom: -8vh;
    left: 4vw;
  }

  .c3 {
    --animation-duration: 2.75s;
    top: 8vh;
    right: 8vw;
  }

  .c4 {
    --animation-duration: 3.25s;
    right: -5vw;
    bottom: -4vh;

    @include max(1500px) {
      right: 10vw;
      bottom: 2vh;
    }
  }
}

.card {
  --card-padding: var(--size-5);
  position: absolute;
  transform: scale(0);
  will-change: transform;

  .inside {
    font-size: 1rem;
    @include cornerShape(var(--radius-2));
    @include glass;
    @include border-glass;
    text-align: left;
    display: flex;
    align-items: flex-start;
    padding: var(--card-padding);
    gap: calc(var(--card-padding) * 0.65);
    position: relative;
    // animation: float-card var(--animation-duration) infinite alternate;
  }

  @keyframes float-card {
    0% {
      top: -5px;
    }
    100% {
      top: 5px;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 0.35em;
    padding-right: 0.5em;
    position: relative;
  }

  .name {
    font-weight: normal;
    font-family: var(--font-heading);
  }

  .description {
    font-size: 0.875em;
    font-weight: 300;
  }

  .model {
    position: absolute;
    top: calc(var(--card-padding) * -1);
    background-color: var(--white);
    color: var(--text-secondary);
    font-family: var(--font-mono);
    font-weight: 400;
    font-size: 0.55em;
    padding: 0.25em 0.75em;
    border-radius: var(--radius-rounded);
    transform: translateY(-45%);
  }

  .icon {
    width: 2em;
    height: 2em;
    background-color: var(--color);
    border-radius: var(--radius-rounded);
    display: grid;
    place-items: center;
    color: var(--white);

    svg {
      font-size: 1.25em;
    }
  }
}

.ai {
  text-align: center;
  color: var(--text-secondary);
  margin-top: var(--size-12);

  h2 {
    font-size: 1em;
    font-weight: 300;
    margin-top: var(--size-2);
  }
}
