@use "@/styles/mixins" as *;

.subtitle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.85em 1.25em;
  line-height: 1;
  font-size: var(--size-3-5);
  background-color: var(--glass-50);
  border-radius: var(--size-8);
  position: relative;
  @include border-glass;

  & > span {
    white-space: nowrap;
    display: flex;
    overflow: hidden;
    width: 0;

    span {
      display: block;
      padding-left: 0.75em;
    }
  }

  &::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    margin-left: -0.15em;
    background: var(--gradient-radial-1);
    border-radius: var(--radius-rounded);
  }
}
