@use "@/styles/mixins" as *;

$responsive: 1200px;

.how {
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-4);
  text-align: center;

  [data-paragraph] {
    width: var(--container-middle);
    margin-inline: auto;
    text-wrap: balance;
  }

  .powered {
    margin-top: var(--spacing-3);
  }

  .line {
    position: absolute;
    top: calc(50% + var(--gap) / 2);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    stroke-width: 20;

    @include max($responsive) {
      display: none;
    }
  }
}

.how[data-accent="1"] .top {
  color: var(--color-1);
}

.how[data-accent="2"] .top {
  color: var(--color-2);
}

.how[data-accent="3"] .top {
  color: var(--color-3);
}

.how[data-accent="4"] .top {
  color: var(--color-4);
}

.how[data-accent="5"] .top {
  color: var(--color-5);
}

.steps {
  --step-width: calc(350px + 100 * (100vw - 320px) / 1080);
  --gap: var(--spacing-2-5);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap);
  margin-top: var(--spacing-3);
  text-align: left;
  position: relative;

  @include max($responsive) {
    --gap: var(--spacing-1);
    flex-direction: column;
    align-items: center;
    margin-top: var(--spacing-2-5);
  }

  @include min(500px) {
    padding-inline: var(--spacing-2);
  }
}

.step {
  --padding: calc(32px + 8 * (100vw - 320px) / 1080);
  width: var(--step-width);
  aspect-ratio: 16/9;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: calc(var(--padding) / 2);
  background-color: var(--glass-50);
  @include border-glass(var(--gradient-border-glass-3));
  @include cornerShape(var(--radius-1));
  @include backdrop(24px);
  max-width: 100%;

  @include max($responsive) {
    width: 100%;
    max-width: calc(400px + 200 * (100vw - 320px) / 1080);
    aspect-ratio: auto;

    .top {
      margin-bottom: calc(var(--padding) / 2);
    }
  }

  h3 {
    margin-bottom: calc(var(--padding) / 2);
    font-size: calc(18px + 4 * (100vw - 320px) / 1080);
  }

  p {
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: -0.25em;
  }

  &1 {
    order: 1;
  }

  &2 {
    order: 3;
    align-self: center;
    margin: auto;
  }

  &3 {
    order: 2;
  }
}

.top {
  font-size: calc(20px + 4 * (100vw - 320px) / 1080);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  margin-bottom: auto;

  svg {
    font-size: 1.25em;
  }
}
