@use "@/styles/mixins" as *;

.header {
  --transition: 0.5s var(--cubic);
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  inset: 0 0 auto;
  z-index: 900;
  padding: var(--size-8);

  @include max($responsiveNav) {
    padding: var(--size-6);
  }

  &.open {
    .bnav {
      .l1 {
        --length: 22;
        --offset: -92.5;
      }
      .l2 {
        --length: 0;
        --offset: -50;
      }
      .l3 {
        --length: 22;
        --offset: -92.5;
      }
    }

    .bg {
      height: 400px;
      background-color: oklch(1 0 0 / 0.05);
      box-shadow:
        0 -4px 8px 4px oklch(1 0 0 / 0.75) inset,
        0 24px 100px -8px oklch(0 0 0 / 0.15);
    }
  }
}

.content {
  --content-padding: var(--size-2-5);
  padding: var(--content-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-8);
  position: relative;
  height: var(--size-15);

  @include max($responsiveNav) {
    width: 100%;
  }

  .btn {
    font-size: 0.8em;
    margin-left: auto;
  }
}

.bnav {
  width: calc(0.8em * var(--btn-multiplier));
  height: calc(0.8em * var(--btn-multiplier));
  background-color: var(--text);
  border-radius: var(--radius-rounded);
  margin-left: -1.5em;

  @include min($responsiveNav) {
    display: none;
  }

  svg {
    width: 2.75em;
    margin: -0.75em -1em -0.75em 0;
    transform: scale(1.75);
  }

  path {
    fill: none;
    stroke: var(--white);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5;
    --length: 24;
    --offset: -38;
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
    transition:
      stroke-dashoffset var(--transition-nav),
      stroke-dasharray var(--transition-nav);

    &.l1,
    &.l3 {
      --total-length: 125;
    }

    &.l2 {
      --total-length: 70;
    }
  }
}

.bg {
  transition:
    height var(--transition),
    box-shadow var(--transition),
    background-color var(--transition);
  position: absolute;
  inset: 0;
  height: 100%;
  z-index: -1;
  background-color: var(--glass-50);
  border-radius: var(--size-8);
  box-shadow:
    0 -4px 8px 4px oklch(1 0 0 / 0.75) inset,
    0 24px 40px -24px oklch(0 0 0 / 0.1);
  backdrop-filter: blur(16px) saturate(300%);
  @include performance("backdrop-filter");
  @include border-glass;
}

.logo {
  font-family: var(--font-heading);
  display: inline-flex;
  font-size: var(--size-7);
  align-items: center;
  line-height: 1;
  gap: 0.75ch;
  vertical-align: bottom;
  margin-left: var(--size-5);

  span {
    position: relative;
    top: -0.065em;
    line-height: 1;
  }

  svg {
    fill: transparent;
    stroke: currentColor;
    stroke-width: 20;
    min-width: 0.73em;
  }
}
