@use "@/styles/mixins" as *;

.paragraph {
  @include fs(18px, 4, 26px);
  font-weight: 300;
  line-height: 1.5;
  max-width: 100%;

  @include min(500px) {
    text-wrap: balance;
  }

  & > * + * {
    margin-top: 0.75em;
  }
}
