@use "@/styles/mixins" as *;

.btn {
  transition:
    color var(--btn-transition),
    background-color var(--btn-transition),
    border-color var(--btn-transition),
    transform var(--transition-scale);
  position: relative;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  font-family: var(--font-heading);
  line-height: 1;
  border-radius: var(--btn-radius);
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  height: var(--btn-height);
  padding-inline: var(--btn-padding-x);
  justify-content: center;
  text-align: center;

  span {
    transition:
      left var(--btn-transition),
      right var(--btn-transition);
    position: relative;
    z-index: 5;
    left: 0;
  }

  &.primary {
    &::before {
      transition: opacity var(--btn-transition);
      content: "";
      position: absolute;
      background: var(--gradient-primary);
      border-radius: var(--radius-1);
      z-index: 0;
      inset: 0;
      opacity: 0;
      // animation: light 20s linear infinite;

      @keyframes light {
        0% {
          background-position: 0% 0%;
        }
        100% {
          background-position: 400% 0%;
        }
      }
    }

    @include is-hover {
      &::before {
        opacity: 1;
      }
    }
  }
  &:active {
    transform: scale(0.95);
  }

  &.circle {
    span {
      margin-right: 1.25em;
    }

    &::after {
      transition: var(--btn-transition);
      content: "";
      position: absolute;
      right: -1.75em;
      width: 4em;
      height: 4em;
      stroke-width: 9;
      overflow: visible;
      top: 35%;
      z-index: 3;
      @include performance;
      border-radius: var(--radius-rounded);
      @include border-gradient(var(--gradient-primary));
      border-width: 0.6em;
      animation: rotate 3s linear infinite;

      @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }

    @include is-hover {
      &::after {
        opacity: 0;
      }

      span {
        left: 0.625em;
      }
    }
  }

  &.secondary {
    --btn-bg: transparent;
    --btn-color: var(--text);
    border: 1px solid oklch(from var(--text) l c h / 0.15);

    @include is-hover {
      background-color: var(--btn-bg);
      color: var(--btn-color);
      border-color: var(--btn-bg);
    }
  }
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-2);
  width: 100%;
  gap: var(--size-4);

  &.column {
    flex-direction: column;
  }

  @include max($responsive) {
    &:not(.column) {
      & > * {
        flex: 1 1 0;
      }
    }

    &.column {
      & > * {
        width: 100%;
      }
    }
  }
}
