:root {
  --body: oklch(0.9589 0.0011 17.18);
  --text: oklch(0.1902 0.0261 287.16);
  --text-secondary: oklch(0.5965 0 0);
  --white: oklch(1 0 0);
  --success: var(--color-1);
  --danger: oklch(0.65 0.22 25);

  --bg-1: oklch(0.937 0 0);

  --glass-15: oklch(1 0 0 / 0.15);
  --glass-50: oklch(1 0 0 / 0.5);
  --glass-75: oklch(1 0 0 / 0.75);

  --color-1: oklch(0.8354 0.229 131.2);
  --color-2: oklch(0.7494 0.153657 233.6982);
  --color-3: oklch(0.5165 0.269955 268.2377);
  --color-4: oklch(0.5019 0.2667 300.81);

  --gradient-border-glass: linear-gradient(to top, oklch(1 0 0) 0%, oklch(1 0 0 / 0.1) 75%);
  --gradient-border-glass-2: linear-gradient(to bottom, oklch(1 0 0 / 0.25) 0%, oklch(1 0 0 / 0.1) 75%);
  --gradient-border-glass-3: linear-gradient(to bottom, oklch(1 0 0) 0%, oklch(1 0 0 / 0.1) 75%);
  --gradient-radial-1: radial-gradient(
    119.57% 119.48% at 8.3% 7.88%,
    var(--color-1) 0%,
    var(--color-2) 33%,
    var(--color-3) 66%,
    var(--color-4) 100%
  );
  --gradient-linear-1: linear-gradient(to bottom, var(--color-1), var(--color-2), var(--color-3), var(--color-4));
}
