@charset "UTF-8";

@use "reset";
@use "colors";
@use "easing";
@use "variables";
@use "mixins" as *;

html {
  background-color: var(--body);
  color: var(--text);
  font-size: calc(15px + 1 * (100vw - 320px) / 1080);
  line-height: 1.15;
  @include no-scrollbar;
  @include selection(oklch(from var(--text) l c h / 0.85), var(--white));

  &.is-resizing {
    *,
    *::before,
    *::after {
      transition: none !important;
    }
  }

  #nprogress {
    .bar {
      background: var(--gradient-linear-3) !important;
    }
  }
}

body {
  font-weight: 500;
  font-family: var(--font-main);
  font-feature-settings: "salt" on;
}

svg {
  fill: transparent;
}

img {
  @include user-select;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

[data-underline] {
  position: relative;

  svg {
    position: absolute;
    stroke-width: 2;
    overflow: visible;
    stroke-linecap: round;
    right: 0;
    top: 1.05em;
    pointer-events: none;
    width: 100%;

    * {
      vector-effect: non-scaling-stroke;
      stroke-dasharray: 2;
      stroke-dashoffset: var(--dash-offset, 2);
    }
  }
}

[data-stop-animated] {
  animation: defs-stop-color 4s linear infinite;
}

[data-stop-animated="var(--color-1)"] {
  animation-delay: 0s;
}

[data-stop-animated="var(--color-2)"] {
  animation-delay: 1.5s;
}

[data-stop-animated="var(--color-3)"] {
  animation-delay: 3s;
}

[data-stop-animated="var(--color-4)"] {
  animation-delay: 4.5s;
}

@keyframes defs-stop-color {
  0% {
    stop-color: var(--color-1);
  }
  25% {
    stop-color: var(--color-2);
  }
  50% {
    stop-color: var(--color-3);
  }
  75% {
    stop-color: var(--color-4);
  }
  100% {
    stop-color: var(--color-1);
  }
}

/* Reveal */

[data-reveal] {
  opacity: 0;
  transform: translateY(100px);
  will-change: transform, opacity;
}
