@use "@/styles/mixins" as *;

@mixin hover-sub {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.nav {
  --transition-sub: var(--transition-link);
  font-size: 0.85em;
  margin-inline: -0.5em;

  & > ul {
    gap: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include max($responsiveNav) {
    transition:
      opacity var(--transition-sub),
      visibility var(--transition-sub),
      top var(--transition-sub);
    position: absolute;
    width: 100%;
    top: 60px;
    margin-inline: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;

    & > ul {
      width: 100%;
      flex-direction: column;
      font-size: calc(18px + 4 * (100vw - 320px) / 1080);
      padding: var(--size-6);
      padding-top: 0;

      & > li {
        width: 100%;
        text-align: center;
      }
    }

    &.open {
      opacity: 1;
      visibility: visible;
    }
  }
}

.subnav {
  .link {
    cursor: pointer;

    &::before {
      content: "";
      width: 65px;
      margin-left: -1em;
      height: 100px;
      z-index: 100%;
      position: absolute;
      pointer-events: none;
    }
  }

  .sublink {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;

    @include max($responsiveNav) {
      display: none !important;
    }

    svg {
      position: relative;
      transition: transform var(--transition-link);
      width: 1.1em;
      height: 1.1em;
      margin-right: -0.15em;
      padding: 0.1em;
      border-radius: var(--radius-rounded);
      border: 1px solid oklch(from var(--text) l c h / 0.15);
    }
  }

  &:hover {
    .link {
      background-color: oklch(0 0 0 / 0.05);

      &::before {
        pointer-events: auto;
      }

      // & + .sub {
      //   @include hover-sub;
      // }
    }
  }
}

.link {
  transition: background-color var(--transition-link);
  line-height: 1;
  padding: 0.65em 1em;
  border-radius: var(--radius-rounded);
  display: inline-block;

  @include max($responsiveNav) {
    padding: 1em;
    width: 100%;
  }

  &:hover {
    background-color: oklch(0 0 0 / 0.05);
  }
}

.sub {
  --sub-padding: var(--size-3);
  transition:
    opacity var(--transition-sub),
    visibility var(--transition-sub),
    top var(--transition-sub);
  margin-top: var(--size-2);
  display: flex;
  padding: var(--sub-padding);
  gap: calc(var(--sub-padding) * 0.5);

  &.subOpen {
    @include hover-sub;
  }

  @include min($responsiveNav) {
    opacity: 0;
    visibility: hidden;
    min-width: 100%;
    position: absolute;
    left: 0;
    top: 125%;
    @include cornerShape(var(--size-8));
    @include glass($bg: var(--glass-75), $blur: true);
    @include border-glass;
    box-shadow: var(--shadow-1);
  }

  @include max($responsiveNav) {
    position: relative;
    text-align: left;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    padding-inline: var(--size-12);
    display: flex;
    overflow-x: scroll;
    @include no-scrollbar;
    gap: var(--sub-padding);
    margin-top: 0;

    & > li {
      width: 200px;
      min-width: 200px;
      @include glass($bg: var(--glass-75));
      @include cornerShape(var(--radius-2));
    }
  }

  li {
    flex: 1;

    a {
      --transition: 0.2s var(--cubic);
      transition:
        background-color var(--transition),
        transform var(--transition-scale);
      padding: var(--size-5);
      @include cornerShape(var(--size-6));
      min-height: 100%;
      display: flex;
      flex-direction: column;

      @include max($responsiveNav) {
        @include backdrop;
      }

      @include is-hover {
        background-color: oklch(from var(--color) l c h / 0.15);

        .logo {
          transform: scale(1.1);
        }
      }

      &:active {
        transform: scale(0.95);
      }
    }

    .logo {
      width: 2.5em;
      transition: transform var(--transition);
      background-color: var(--color);
      @include cornerShape(var(--radius-4));
      display: flex;
      align-items: center;
      justify-content: center;
      aspect-ratio: 1 / 1;
      box-shadow: 0 12px 24px -4px oklch(from var(--color) l c h / 0.5);

      svg {
        stroke: var(--white);
        width: 55%;
      }
    }

    .content {
      strong {
        font-family: var(--font-heading);
        font-size: calc(14px + 2 * (100vw - 320px) / 1080);
        display: block;
        margin-top: 1em;
        margin-bottom: 0.5em;

        @include max($responsiveNav) {
          font-size: 1em;
        }
      }

      p {
        color: var(--text);
        font-size: 0.75em;
        opacity: 0.5;

        @include min($responsiveNav) {
          @include clamp(2);
        }
      }
    }
  }

  // &:hover {
  //   @include hover-sub;
  // }
}
